<div class="city-edit">
    <h1>{{ title }}</h1>
    <p *ngIf="this.id && !city"><em>Loading...</em></p>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="city || !this.id">

        <!--Name-->
        <mat-form-field>
            <mat-label>Name:</mat-label>
            <input matInput formControlName="name" required placeholder="Type a name" />
            <mat-error *ngFor="let error of getErrors(form.get('name')!, 'Name')">
                {{ error }}
            </mat-error>
        </mat-form-field>

        <!--Latitude-->
        <mat-form-field>
            <mat-label>Latitude:</mat-label>
            <input matInput formControlName="lat" required placeholder="Insert Latitude" />
            <mat-error *ngFor="let error of getErrors(form.get('lat')!,
                       'Latitude',
                       { 'pattern' : 'requires a positive or negative number with 0-4 decimal values' })">
                {{ error }}
            </mat-error>
        </mat-form-field>

        <!--Longitude-->
        <mat-form-field>
            <mat-label>Longitude:</mat-label>
            <input matInput formControlName="lon" required placeholder="Insert Longitude" />
            <mat-error *ngFor="let error of getErrors(form.get('lon')!,
                       'Longitude',
                       { 'pattern' : 'requires a positive or negative number with 0-4 decimal values' })">
                {{ error }}
            </mat-error>
        </mat-form-field>

        <!--Country-->
        <p *ngIf="countries">
            <select id="countryId" formControlName="countryId">
                <option value="">--- Select a country ---</option>
                <option *ngFor="let country of countries" [value]="country.id">
                    {{ country.name }}
                </option>
            </select>
        </p>
        <mat-error *ngFor="let error of getErrors(form.get('countryId')!, 'countryId')">
            {{ error }}
        </mat-error>

        <div>
            <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid">
                {{ this.id ? "Save" : "Create" }}
            </button>
            <button mat-flat-button color="secondary" [routerLink]="['/cities']">
                Cancel
            </button>
        </div>
        <p>
            <mat-error *ngIf="form.invalid && form.hasError('isDupeCity')">
                <strong>ERROR</strong>
                A city with the same <i>name</i>, <i>lat</i>, <i>lon</i>, and <i>country</i> already exists.
            </mat-error>
        </p>
    </form>
</div>

<!--FORM ACTIVIT PANEL-->
<!--<div class="info">
    <div class="info-header">Form Debug Info</div>
    <div class="info-body">
        <div class="info-label">
            Form Value:
        </div>
        <div class="info-value">
            {{ form.value | json }}
        </div>
        <hr/>
        <div class="info-label">
            Form Status:
        </div>
        <div class="info-value">
            {{ form.status | json }}
        </div>
    </div>
</div>

<!--FORM ACTIVITY LOG PANEL-->
<!--<div class="info">
    <div class="info-header">Form Activity</div>
    <div class="info-body">
        <div class="info-value">
            <span *ngIf="activityLog"
                   [innerHTML]="activityLog">
            </span>
        </div>
    </div>
</div>
-->
